extends layout

block content
  header.header.clearfix
    .container
      h1.brand
        a(href='/') #{title}
      ul.nav-bar
        if (user)
          li
            p #{user}
          li
            a(href='/logout') logout
        else
          li
            a(href='/register') Register
          li
            a(href='/login') Login

  .container
    if (user)
      form(action='/tweet', method='post').tweet
        input(name='content' placeholder='What is up today?').tweet-input
        input(value='submit', type='submit').tweet-submit

    ul.timeline
      each val in tweets
        li #{val.content} - #{val.create_at} - #{val.author_name}